@import '~antd/dist/antd.min.css';
@import '~antd/dist/antd.variable.min.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap');

$Base-Family: 'Source Sans Pro', sans-serif;
$Headers-Family: 'Rubik', sans-serif;
$Golden-Yellow: #fff6d5;
$Bg-Color: #00778a;
$Sider-Width: 30%;
$Message-Header-Height: 73px;
$Message-Footer-Height: 73px;

body {
	font-family: $Base-Family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $Headers-Family;
}

html,
body {
	height: 100%;

	#root {
		height: 100%;

		.main-layout {
			height: 100%;

			.ant-layout-header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: thin solid $Golden-Yellow;
				background-color: $Bg-Color;
				padding: 0 2.5%;
			}

			.ant-layout-has-sider {
				overflow: hidden;

				& > * {
					overflow-y: auto;
					overflow-x: hidden;

					&::-webkit-scrollbar {
						width: 10px;
					}
					&::-webkit-scrollbar-track {
						background: transparent;
					}
					&::-webkit-scrollbar-thumb {
						background: $Golden-Yellow;
					}

					&.ant-layout-sider {
						max-width: $Sider-Width !important;
						min-width: $Sider-Width !important;
						width: $Sider-Width !important;
						padding: 16px 2.5%;
						background-color: $Bg-Color;
						box-shadow: 1px 0 5px rgba(2, 2, 2, 0.5);
						z-index: 1;

						.ant-list {
							* {
								color: #ffffff;

								span.unread {
									position: absolute;
									top: 0;
									right: 0;
									width: 10px;
									height: 10px;
									border-radius: 50%;
									background-color: red;
								}
							}
						}

						.fab-new {
							position: fixed;
							bottom: 2%;
							left: calc($Sider-Width - 5%);
							border-radius: 50%;
						}
					}

					&.ant-layout-content {
						background-color: rgb(228, 228, 228);
						position: relative;
						display: flex;
						flex-direction: column;

						.message-header {
							width: 100%;
							height: $Message-Header-Height;
							min-height: $Message-Header-Height;
							border-bottom: thin solid rgba(99, 99, 99, 0.5);
							padding: 0 4%;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							background-color: #ffffff;

							.user-info {
								display: flex;
								align-items: center;
								justify-content: center;
								gap: 10px;
							}
						}

						.message-body {
							flex-grow: 1;
							overflow-y: auto;

							> *::-webkit-scrollbar {
								width: 10px;
							}
							> *::-webkit-scrollbar-track {
								background: transparent;
							}
							> *::-webkit-scrollbar-thumb {
								background-color: $Bg-Color;
							}

							.ant-list-items {
								display: flex;
								flex-direction: column;
								padding: 16px 2%;

								li {
									max-width: 75%;
									display: flex;
									gap: 5px;

									p {
										padding: 5px 8px;
										background-color: red;
										color: white;
										border-radius: 5px;
										font-size: 0.85em;
									}

									span.time {
										font-size: 0.75em;
										align-self: flex-end;
									}

									&.sent {
										flex-direction: row-reverse;
										align-self: flex-end;

										p {
											background-color: blue;
										}
									}
								}
							}
						}

						.message-footer {
							width: 100%;
							background-color: $Bg-Color;
							height: $Message-Footer-Height;
							min-height: $Message-Footer-Height;
							color: #ffffff;
							padding: 0 4%;
							display: flex;
							align-items: center;
							justify-content: flex-start;

							form {
								width: 100%;

								.ant-form-item.message-box {
									flex-grow: 1;
								}

								.ant-form-item.send {
									margin: 0;
								}
							}
						}
					}
				}
			}

			&.form-layout {
				display: flex;
				align-items: center;
				justify-content: center;

				form {
					max-width: 420px;
					width: 100%;
					border: thin solid rgb(196, 196, 196);
					border-radius: 8px;
					padding: 16px;
				}
			}

			@media (max-width: 900px) {
				.ant-layout-header {
					padding: 4px 4%;
				}

				.ant-layout-has-sider {
					position: relative;

					& > *::-webkit-scrollbar {
						width: 5px;
					}

					.ant-layout-sider {
						position: absolute;
						height: 100%;
						max-width: 100% !important;
						min-width: 100% !important;
						width: 100% !important;
						transition: transform 0.2s linear;
						padding: 10px 4%;

						&.close {
							transform: translateX(-100%);
						}

						.fab-new {
							left: unset;
							right: 2%;
						}
					}

					.ant-layout-content {
						.message-body {
							&::-webkit-scrollbar {
								width: 5px;
							}
						}
					}
				}
			}
		}
	}
}
